body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Helvetica;
}

body {
    height: 100%;
    background-color: rgb(25,25,25,1);
    overflow: hidden;
}

#blackhole {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.centerHover {
    width: 15.938rem;
    height: 15.938rem;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8rem;
    margin-left: -8rem;
    z-index: 2;
    cursor: pointer;
    line-height: 15.938rem;
    text-align: center;
    transition: all 500ms;
}

.centerHover.open {
    opacity: 0;
    pointer-events: none;
}

.centerHover:hover span{
    color: #ddd
}
.centerHover:hover span::before{
    background-color: #ddd;
}

.centerHover:hover span::after{
    background-color: #ddd;
}
.centerHover span {
    color: #666;
    font-family: serif;
    font-size: 1.125rem;
    position: relative;
    transition: all 500ms;
}

.centerHover span::before {
    content: "";
    display: inline-block;
    height: 0.063rem;
    width: 1rem;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
    transition: all 500ms;
    background-color: #666;
}

.centerHover span:after {
    content: "";
    display: inline-block;
    height: 0.063rem;
    width: 1rem;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
    transition: all 500ms;
    background-color: #666;
}

canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
}

#blackhole {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.centerHover {
    width: 15.938rem;
    height: 15.938rem;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8rem;
    margin-left: -8rem;
    z-index: 2;
    cursor: pointer;
    line-height: 15.938rem;
    text-align: center;
    transition: all 500ms;
}

.centerHover.open {
    opacity: 0;
    pointer-events: none;
}

.centerHover:hover span {
    color: #DDD;
}

.centerHover:hover span:before { 
    background-color: #DDD; 
}

.centerHover:hover span:after { 
    background-color: #DDD; 
}

.centerHover span {
    color: #666;
    font-family: serif;
    font-size: 1.125rem;
    position: relative;
    transition: all 500ms;
}

.centerHover span:before {
    content: '';
    display: inline-block;
    height: 0.063rem;
    width: 1rem;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
    background-color: #666;
    transition: all 500ms;
}

.centerHover span:after {
    content: '';
    display: inline-block;
    height: 0.063rem;
    width: 1rem;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
    background-color: #666;
    transition: all 500ms;
}

canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
} 
